body {
    font-family:'Lato', sans-serif;
    font-family:'Open Sans', sans-serif;
}

.banner{
    background: rgba(229, 84, 115, 0.10);
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}
.b-content{
    width: 1000px;
    height: 800px;
}

.banner-title{
    color: #272727;
    font-size: 50px;
    font-weight: 700;
    margin-top: 5px;
}

.para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400px;
    line-height: 30px; 
}

.btn-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    text-align: center;
}

.Profile-photo{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
}

/* main section style */

main{
    max-width:1140;
    margin: auto;
}
.flower{
    background: #FFF;;
    padding: 130px;
    margin: 120px auto;
    border-radius: 10px;
    width: 1920px;
    height: 700px;
    
}


.section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-lorem{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 28px;
    font-weight: 500px;
    line-height: 30px;
    margin-bottom: 70px;
}

.skill-container{
    display: flex;
    gap: 25px;
    align-items: center;
    
}

.skill1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 80px;
    width: 300px;
    height: 350px;
    flex-shrink: 0;
 }

 .pink-title{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
 }

 .skill2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 80px;
    width: 300px;
    height: 350px;
    flex-shrink: 0;
 }

 .lal-title{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin: 65px;
    
    
 }
 
 .skill3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 80px;
    width: 300px;
    height: 350px;
    flex-shrink: 0;
 }
 .holud-title{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px; 
    text-decoration-line: underline;
    margin-top:0px;
 }
 
.group{
    display: flex;
    gap: 25px;
    align-items: center;
}
.group-up{
    border-radius: 8px;
    background:rgba(39, 39, 39, 0.05);
    padding: 130px;
    margin: 120px auto;
    border-radius: 10px;
    width: 1440px;
    height: 190px;
}
.box{
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    align-items: center;
    padding-left: 180px;
   
}

.box-title{
color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 35px;
padding-right: 140px;
}

.box1{
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    align-items: center;
    padding-left: 80px;
}

.banner2{
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 100px;

    
}
.b2-content{
    
    height: 620px;
    flex-shrink: 0;
    width: 50%;
    text-align: center;
    justify-content: center;
}
.banner-title2{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
   margin-top: 120px;
   margin-left: 180px;
}
.off{
color:  #E55473;
}
.para2{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 180px;
    
}
.btn-primary2{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    text-align: center;
    margin-left: 140px;
}

.picture img {
    align-items: center;
    margin-left: 200px;
    margin-bottom:px;
}


.picture{
    width: 318px;
    height: 100px;
    flex-shrink: 0;
    align-items: center;
}

.image4{
    display: flex;
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    margin: 30px;
    padding: 50px;
    gap: 30px;
    padding-left: 430px;
}
.insta{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-left: 180px;
}
.section{
 
    
}

.address{
    background-color: #FFF;
    background-image: url('../image/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: bottm right, top left;
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    text-align: center;
    margin: 60px auto;
    justify-content: center;



}
.text-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
   margin-top: 120px;
   margin-left: 180px;
   padding-top: 100px;
   padding-right: 350px;
   
}
.text-para{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
    padding-right: 120px;
}
.email{
    width: 700px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    padding-left: 20px;
   

}
.btn-primary3{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    text-align: center;
    margin-left: 40px;
}

/* footer */

.foot-flower{
    background: #111010;
    width: 90%;
    height: 449px;
    flex-shrink: 0;
    margin: 150px auto;
}
.foot-title{
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
}
.f-pink{
    color: #E55473;
}
.f-fff{
    color: #FFF;
}
.foot-para1{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   justify-content: center;
}
.foot-para2{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    padding-top: 40px;
}